@import '_vars'

html
    scroll-behavior: smooth

body
    margin: 1rem
    background-color: $base


*
    color: $text
    box-sizing: border-box
    font-family: 'Inter', sans-serif

main, footer
    max-width: 800px
    margin: 0 auto

footer
    opacity: 0.5

hr
    width: 50%
    border: 0
    border-top: 1px solid $overlay1
    margin: 3rem auto
